<%= form_for(@web_app) do |f| %>
  <% if @web_app.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@web_app.errors.count, "error") %> prohibited this web_app from being saved:</h2>

      <ul>
      <% @web_app.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :fingerprint %><br />
    <%= f.text_field :fingerprint %>
  </div>
  <div class="field">
    <%= f.label :port %><br />
    <%= f.number_field :port %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
