<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @web_app.name %>
</p>

<p>
  <b>Fingerprint:</b>
  <%= @web_app.fingerprint %>
</p>

<p>
  <b>Port:</b>
  <%= @web_app.port %>
</p>

<p>
<b>Parents:</b>
  <ul>
  <% @web_app.parents.each {|p|%>
    <li><%= link_to p, eval("#{p.underscore}_path(p)")  %></li>
  <% } %>
  </ul>
</p>  

<p>
<b>Children:</b>
  <ul>
  <% @web_app.children.each {|c|%>
    <li><%= link_to c, eval("#{c.underscore}_path(c)")  %></li>
  <% } %>
  </ul>
</p>

<p>
<b>Tasks:</b>
  <ul>
  <% @web_app.tasks.each {|t|%>
    <li><%= link_to t, eval("#{t.underscore}_path(t.name)")  %></li>
  <% } %>
  </ul>
</p>

<%= link_to 'Edit', edit_web_app_path(@web_app) %> |
<%= link_to 'Back', web_apps_path %>
