
<b>Task:</b><br/>
<%= @task.name %>

<table>
  <tr>
    <th>Input:</th>
  </tr>
  <% @objects.each do |o| %>
  <tr>
    <td><a href="<%=request.url%>/../../<%=o.underscore%>s/<%=o.id%>"> <%=o.to_s%></a><br/></td>
  </tr>
  <% end %>
</table>

<table>
  <tr>
    <th>Output:</th>
  </tr>
  <% @results.each do |r| 
       r.each do |o| %>
  <tr>
    <td><a href="<%=request.url%>/../../<%=o.first.class.to_s.underscore%>s/<%=o.first.id%>"> <%=o.first.to_s%></a> (New: <%=o.last%>)<br/></td>
  </tr>
  <%   end
     end %>
</table>

<br/>
<b>Task Log:</b><br/>
<%= @task.task_logger.text.gsub("\n","<br/>").html_safe %>
<br/>
