<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @user.last_name %>
</p>

<p>
  <b>Alias:</b>
  <%= @user.alias %>
</p>

<p>
  <b>Organization:</b>
  <%= @user.organization_id %>
</p>


<p>
<b>Parents:</b>
  <ul>
  <% @user.parents.each {|p|%>
    <li><%= link_to p, eval("#{p.underscore}_path(p)")  %></li>
  <% } %>
  </ul>
</p>  

<p>
<b>Children:</b>
  <ul>
  <% @user.children.each {|c|%>
    <li><%= link_to c, eval("#{c.underscore}_path(c)")  %></li>
  <% } %>
  </ul>
</p>

<p>
<b>Tasks:</b>
  <ul>
  <% @user.tasks.each {|t|%>
    <li><%= link_to t, eval("#{t.underscore}_path(t.name)")  %></li>
  <% } %>
  </ul>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
