<h1>Listing findings</h1>

<table>
  <tr>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @findings.each do |finding| %>
  <tr>
    <td><%= finding.content %></td>
    <td><%= link_to 'Show', finding %></td>
    <td><%= link_to 'Edit', edit_finding_path(finding) %></td>
    <td><%= link_to 'Destroy', finding, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Finding', new_finding_path %>
