<p id="notice"><%= notice %></p>

<p>
  <b>Address:</b>
  <%= @physical_location.address %>
</p>

<p>
  <b>City:</b>
  <%= @physical_location.city %>
</p>

<p>
  <b>State:</b>
  <%= @physical_location.state %>
</p>

<p>
  <b>Country:</b>
  <%= @physical_location.country %>
</p>

<p>
  <b>Zip:</b>
  <%= @physical_location.zip %>
</p>

<p>
  <b>Latitude:</b>
  <%= @physical_location.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @physical_location.longitude %>
</p>

<p>
<b>Parents:</b>
  <ul>
  <% @physical_location.parents.each {|p|%>
    <li><%= link_to p, eval("#{p.underscore}_path(p)")  %></li>
  <% } %>
  </ul>
</p>  

<p>
<b>Children:</b>
  <ul>
  <% @physical_location.children.each {|c|%>
    <li><%= link_to c, eval("#{c.underscore}_path(c)")  %></li>
  <% } %>
  </ul>
</p>

<p>
<b>Tasks:</b>
  <ul>
  <% @physical_location.tasks.each {|t|%>
    <li><%= link_to t, eval("#{t.underscore}_path(t.name)")  %></li>
  <% } %>
  </ul>
</p>

<%= link_to 'Edit', edit_physical_location_path(@physical_location) %> |
<%= link_to 'Back', physical_locations_path %>
