<p id="notice"><%= notice %></p>


<p>
  <b>Address:</b>
  <%= @physical_location.address %>
</p>

<p>
  <b>City:</b>
  <%= @physical_location.city %>
</p>

<p>
  <b>State:</b>
  <%= @physical_location.state %>
</p>

<p>
  <b>Country:</b>
  <%= @physical_location.country %>
</p>

<p>
  <b>Zip:</b>
  <%= @physical_location.zip %>
</p>

<p>
  <b>Latitude:</b>
  <%= @physical_location.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%= @physical_location.longitude %>
</p>

<p>
  <b>Google Map:</b><br/>
<img src="http://maps.googleapis.com/maps/api/staticmap?center=<%=@physical_location.latitude%>,<%=@physical_location.longitude%>&zoom=10&size=200x200&sensor=false"><br/>
<p>

<p>
  <b>Street View:</b><br/>
<img src="http://maps.googleapis.com/maps/api/streetview?size=200x200&location=<%=@physical_location.latitude%>,<%=@physical_location.longitude%>&heading=0&sensor=false">
<img src="http://maps.googleapis.com/maps/api/streetview?size=200x200&location=<%=@physical_location.latitude%>,<%=@physical_location.longitude%>&heading=90&sensor=false">
<p><img src="http://maps.googleapis.com/maps/api/streetview?size=200x200&location=<%=@physical_location.latitude%>,<%=@physical_location.longitude%>&heading=180&sensor=false">
<img src="http://maps.googleapis.com/maps/api/streetview?size=200x200&location=<%=@physical_location.latitude%>,<%=@physical_location.longitude%>&heading=270&sensor=false">
</p>

<b>Parents:</b>
  <ul>
  <% @physical_location.parents.each {|p|%>
    <li><%= link_to p, eval("#{p.underscore}_path(p)")  %></li>
  <% } %>
  </ul>
</p>  

<p>
<b>Children:</b>
  <ul>
  <% @physical_location.children.each {|c|%>
    <li><%= link_to c, eval("#{c.underscore}_path(c)")  %></li>
  <% } %>
  </ul>
</p>

<p>
<b>Tasks:</b>
  <ul>
  <% @physical_location.tasks.each {|t|%>
    <li><%= link_to t, eval("#{t.underscore}_path(t.name)")  %></li>
  <% } %>
  </ul>
</p>

<%= link_to 'Edit', edit_physical_location_path(@physical_location) %> |
<%= link_to 'Back', physical_locations_path %>
