<p id="notice"><%= notice %></p>

<p>
  <b>Range:</b>
  <%= @net_block.range %>
</p>

<p>
<b>Parents:</b>
  <ul>
  <% @net_block.parents.each {|p|%>
    <li><%= link_to p, eval("#{p.underscore}_path(p)")  %></li>
  <% } %>
  </ul>
</p>  

<p>
<b>Children:</b>
  <ul>
  <% @net_block.children.each {|c|%>
    <li><%= link_to c, eval("#{c.underscore}_path(c)")  %></li>
  <% } %>
  </ul>
</p>

<p>
<b>Tasks:</b>
  <ul>
  <% @net_block.tasks.each {|t|%>
    <li><%= link_to t, eval("#{t.underscore}_path(t.name)")  %></li>
  <% } %>
  </ul>
</p>

<%= link_to 'Edit', edit_net_block_path(@net_block) %> |
<%= link_to 'Back', net_blocks_path %>
