<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @domain.name %>
</p>

<p>
  <b>Status:</b>
  <%= @domain.status %>
</p>

<p>
  <b>Organization:</b>
  <%= @domain.organization_id %>
</p>

<p>
<b>Parents:</b>
  <ul>
  <% @domain.parents.each {|p|%>
    <li><%= link_to p, eval("#{p.underscore}_path(p)")  %></li>
  <% } %>
  </ul>
</p>  

<p>
<b>Children:</b>
  <ul>
  <% @domain.children.each {|c|%>
    <li><%= link_to c, eval("#{c.underscore}_path(c)")  %></li>
  <% } %>
  </ul>
</p>

<p>
<b>Tasks:</b>
  <ul>
  <% @domain.tasks.each {|t|%>
    <li><%= link_to t, eval("#{t.underscore}_path(t.name)")  %></li>
  <% } %>
  </ul>
</p>

<%= link_to 'Edit', edit_domain_path(@domain) %> |
<%= link_to 'Back', domains_path %>
