<h1>Listing task_results</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @task_results.each do |task_result| %>
  <tr>
    <td><%= task_result.name %></td>
    <td><%= task_result.type %></td>
    <td><%= task_result.content %></td>
    <td><%= link_to 'Show', task_result %></td>
    <td><%= link_to 'Edit', edit_task_result_path(task_result) %></td>
    <td><%= link_to 'Destroy', task_result, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Task result', new_task_result_path %>
