<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @task_result.name %>
</p>

<p>
  <b>Type:</b>
  <%= @task_result.type %>
</p>

<p>
  <b>Content:</b>
  <%= @task_result.content %>
</p>


<%= link_to 'Edit', edit_task_result_path(@task_result) %> |
<%= link_to 'Back', task_results_path %>
